.header.clearfix
  nav
    ul.nav.nav-pills
      li.active.pull-left.nav-tasks(role='presentation')
        a(href='/') List tasks
      li.pull-left.nav-tasks(role='presentation')
        a(href='/completed') Completed
      li.pull-right.logout(role='presentation')
        a(href='/logout') Logout
hr
