doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title TO-DO App
    include includes/styles
  body
    .container
      include includes/header
      block content
    include includes/scripts


    